{#{% extends 'base.html' %}#}
{##}
{#{% block zawartosc %}#}
{#<!-- Wrapper for carousel items -->#}
{#<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">#}
{#  <div class="carousel-inner">#}
{#    <div class="carousel-item active">#}
{#        <div class="row">#}
{#            <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#                    <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#                    <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#                    <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="carousel-item active">#}
{#        <div class="row">#}
{#            <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#                    <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#                    <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#                    <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="carousel-item">#}
{#                  <div class="col-md img-thumbnail bg-light" style="margin: 5px">#}
{#				<img src="http://placehold.jp/24/adb5bd/1687a7/300x200.png" width="100%">#}
{#				<h6>{{ product['name'] }}</h6>#}
{#                <h6>{{ product['price'] }}</h6>#}
{#				<a href="/product/{{ product['id'] }}" class="btn btn-info float-end">See more</a>#}
{#			</div>#}
{#    </div>#}
{#  </div>#}
{#  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">#}
{#    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#    <span class="sr-only">Previous</span>#}
{#  </a>#}
{#  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">#}
{#    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#    <span class="sr-only">Next</span>#}
{#  </a>#}
{#</div>#}
{##}
{#</div>#}
{#    <p>dupa</p>#}
{#        <p>dupa</p>#}
{#        <p>dupa</p>    <p>dupa</p>    <p>dupa</p>#}
{#        <p>dupa</p>#}
{#        <p>dupa</p>#}
{#        <p>dupa</p>#}
{#        <p>dupa</p>#}
{#        <p>dupa</p>#}
{##}
{##}
{##}
{#{% endblock %}#}